html {
	background-color: rgb(255, 253, 254);
}

.container {
	background-color: rgb(254, 253, 255);
}

h1 {
	color: brown;
}

h2,
h3 {
	color: chocolate;
}

a:not(td > a) {
	color: coral;
}

.exampleRow {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.ignorePSpacing > p {
	margin-bottom: 0;
}
